@font-face {
  font-family: "internetFont";
  src: url("./Sweet Movements Personal Use.ttf");
}

.hello {
  color: white;
  /* background: url("./cat.jpeg"); */
  background-color: black;
  background-repeat: no-repeat;
  font-family: internetFont;
  font-size: 36px;
}
